<div class="list-gifts-container">
  <h4><%= truncate bookmark.title, length: 65, separator: ' ' %>
    <span class="delete"><%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, class: "delete" %></span></h4>
  <a href="<%= bookmark.url %>" target="_blank"><%= bookmark.short_url %></a>
</div>