<div class="greeting">
  <h3>Hello, <%= @user.first_name %></h3>
</div>
<div class="find-friends-list">
  <h3>People you may know</h3>
  <% @users.each do |user| %>
    <% if current_user.email != user.email %>
      <div class="list-users">
        <ul>
          <li><%= user.email %></li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
