<div class="greeting">
  <h3>Hello, <%= @user.first_name %></h3>
</div>
<div class="user-page-container">
  <% if @my_bookmarks.present? %>
    <h3>My List</h3>
    <%= render @my_bookmarks %>
  <% else %>
    <div class="empty-list">
      <p>Your GiftHorse list is empty.<br><br> To add items to your list, drag this
        <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://<%= request.host_with_port %>/js/bookmark.js';})();">GiftHorse</a>
        bookmark to your browser.<br><br>
        Then simply browse the web and click the bookmark to add cool things to your list.</p>
    </div>
  <% end %>
  <% if @my_friends.present? %>
    <h3>My Friends</h3>
    <%= render @my_friends %>
  <% end %>
</div>

