<div class="what_is">
  <h2>Created by Martha Berner</h2>

  <h2 class="handles"><span style="color:#dd3b2a;">Twitter:</span> @marthaberner</h2>
  <h2 class="handles"><span style="color:#dd3b2a;">Email:</span> martha@marthaberner.com</h2>
  <h2 class="handles"><span style="color:#dd3b2a;">GitHub:</span> marthaberner/the-gifthorse</h2>
</div>