<div class="what_is">
  <h2>What is it?</h2>

  <p class="intro">GiftHorse is a place for you to keep a list of stuff you like.</p>

  <p class="intro">Simply drag this
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://<%= request.host_with_port %>/js/bookmark.js';})();">GiftHorse</a>
    bookmark to your browser's toolbar.</p>

  <p class="intro">Makes sharing with friends and family a breeze.</p>

  <p class="intro-2">The next time you're browsing the web and see something you like just click the bookmark and the
    item will be
    saved to your GiftHorse account.</p>
</div>
<div class="half">
  <h2><%= link_to "Login", login_path %></h2>
  <h3>or</h3>
  <h2><%= link_to "Create An Account", new_user_path %></h2>
</div>
