<div class="friend-requests">
  <%= friendship.user.first_name %>
  <%= friendship.user.last_name %>
  <%= form_for :user, url: update_friendship_path(friendship), method: :put, html: {class: "friendship-form"} do |f| %>
    <%= f.submit "Confirm Friendship", class: "add-friend" %>
  <% end %>
</div>
